apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-tier
  namespace: three-tier
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-tier
  template:
    metadata:
      labels:
        app: app-tier
    spec:
      containers:
      - name: app
        image: 203071037199.dkr.ecr.ap-south-1.amazonaws.com/app-tier:latest
        ports:
        - containerPort: 4000
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secret
        readinessProbe:
          httpGet:
            path: /transaction
            port: 4000
          initialDelaySeconds: 15
