apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: app-tier-hpa
  namespace: three-tier
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: app-tier
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
